@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

body,
h1,
h2,
p,
figure,
.links-menu {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

body {
    font-family: "Noto Sans", "sans-serif";
    color: var(--cor-texto)
}

a {
    text-decoration: none;
}

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

.titulo a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 10px;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;

    display: inline-block;
}

.menu a:hover {
    background-color: rgb(221, 219, 228);

}

.links-menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 35px;
}

.links-menu {
    list-style: none;
    display: none;

}

.links-menu.aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 35vh;
    color: var(--cor-clara);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}

/* Animação no CSS com @keyframes */
@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: translateY(-500px) scale(0.1) rotateY(360deg);
    }

    to {
        opacity: 1;
        transform: translateY() scale(1) rotateY();
    }
}

.destaque h2, .destaque p {
    animation-name: animaDestaque;
    animation-duration: 2s;

}
/* animation-interation-count: infinite;   animation-direction:alternate; */
